#troveTrackNavLink {
  margin-left: -70px;
  font-size: 2rem;
}

.offcanvas-navbar-section {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgb(205, 227, 253);
}