#troveTrackNavLink {
  font-size: 2rem;
}

.offcanvas-navbar-section {
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgb(249, 202, 116);
}